/* General Styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
h1, h2, h3, h4, h5, h6, div, p, span, li, a {
    font-family: "Montserrat", Sans-serif
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-heading {
    font-size: 60px;
    font-weight: bold;
    color: #334355;
}
.section-description {
    font-size: 35px;
    letter-spacing: 1.3px;
    color: #334355;
}
.btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    color: #fff5e7;
    background-color: #334355;
    padding: 15px 35px;
}


/* Header */
.main-header {
    padding: 10px 0;
    background: #334355;
}
.main-header .container {
    display: flex;
    flex-wrap: wrap
}
.logo {
    width: 100%;
    height: 65px;
}
.logo img {
    width: 100%;
    max-height: 100%;
}
.menu-links {
    width: 100%;
    line-height: 65px;
    text-align: center;
}
.menu-links li {
    display: inline-block;
    margin: 0 10px;
    padding: 0 10px;
    list-style: none;
    font-family: "Montserrat", Sans-serif
}
.menu-links li a {
    font-size: 17px;
    color: #fff5e7;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 300ms ease;
}
.menu-links li a:hover {
    border-bottom-color: #fff5e7
}

/* Footer */
footer {
    padding: 25px;
    text-align: center;
    background: #334355;
    color: #fff5e7;
}


/* Intro [Section] */
.intro {
    padding: 100px 0;
    text-align: center;
}
.intro .section-heading {
    margin-bottom: 20px;
}


/* Itmes [Section] */
.page-home .items {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}
.items-sell, .items-rent {
    margin-bottom: 50px;
}
.items-sell .btn, .items-rent .btn {
    margin-top: 30px;
}

@media all and (min-width: 1000px) {
    .page-home .items {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }
}


/* hero [section] */
.hero {
    padding: 50px 0;
    font-size: 60px;
    font-weight: 700;
    color: #334355;
    background: #fdfdfd;
    box-shadow: 0 -15px 20px 4px #333333
}

/* page-buy & page-rent */
.page-buy .es-wrap, .page-rent .es-wrap {
    margin-bottom: 50px;
    margin-top: 20px;
}



/* Responsive Menu */
@media all and (min-width: 500px) {
    .logo {
        width: 40%
    }
    .menu-links {
        width: 60%;
        text-align: right;
    }
}
@media all and (min-width: 930px) {
    .logo {
        width: 25%
    }
    .menu-links {
        width: 75%;
    }
}